# Android / Gradle
*.iml
.gradle
/build
/captures
.externalNativeBuild
.cxx

# Local config
local.properties
/local.properties

# IntelliJ / Android Studio
.idea/
!.idea/codeStyles/
!.idea/runConfigurations/

# macOS / Windows
.DS_Store
Thumbs.db

# Logs
*.log
hs_err_pid*
replay_pid*

# Archives (보통 필요 없음)
*.zip
*.tar.gz
*.rar
